body {
  margin: 0px 0px 0px 0px;
}
.nav1 {
  background-color: rgb(27, 25, 25);
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-bottom: 1px solid rgb(27, 25, 25);
}
.icon-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1%;
}
.icons-main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 19%;
}
.what {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 35px; */
  font-weight: 500;
}
.m-icon {
  transform: scale(1.5);
  color: white;
}
.chatss {
  background-color: #2eb12e;
  color: rgb(27, 25, 25);
  border-radius: 50%;
  transform: scale(0.8);
  margin-top: 7px;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5vh;
  background-color: rgb(27, 25, 25);
  margin: 0px 0px 0px 0px;
  position:fixed;
  /* object-position: 5%; */
  top: 9%;
  padding: 1% 0;
}
.community-div {
  margin-left: -2%;
}
.but-1 {
  background-color: transparent;
  border: none;
  color: #2eb12e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border-bottom: 3px solid #2eb12e;
  width: 150%;
  height: 8vh;
}
.but-2 {
  background-color: transparent;
  border: none;
  width: 150%;
  height: 6vh;
  font-size: 25px;
  color: rgb(183, 172, 172);
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s;
}
.but-2:hover {
  border-bottom: 2px solid #2eb12e;
  color: #2eb12e;
}
.body-div {
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(3, 3, 3);
}
.chat-main {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 7%;
  padding-left: 2%;
  box-sizing: border-box;
}
.chat2 {
  padding-top: 2%;
}
.chat1 {
  margin-left: 45%;
}
.dp {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.name-time {
  display: flex;
  margin-left: 1%;
  justify-content: space-between;
  width: 90%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.name {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.g-msg {
  margin-top: 5%;
}
.time {
  color: rgb(183, 172, 172);
  font-size: 13px;
}
.msg-icon {
  display: flex;
  align-items: center;
}
.tick {
  color: rgb(10, 178, 245);
  transform: scale(0.8);
}
.msg {
  color: rgb(183, 172, 172);
  font-size: 16px;
}
.unseen-msg {
  margin-top: 15%;
}
@media screen and (max-width: 768px) {
  .what {
    font-size: 32px;
    font-weight: 100;
  }
  .icons-main-div {
    width: 37%;
  }
  .m-icon {
    transform: scale(1);
  }
  .but-1 {
    font-size: 17px;
    height: 6.5vh;
    width: 120%;
  }
  .but-2 {
    font-size: 17px;
    height: 4.5vh;
    width: 120%;
  }
  .nav2 {
    padding-top: 3%;
  }
  .community-div {
    margin-left: 0;
  }
  .chat-main {
    padding-top: 21%;
  }
  .chat{
    margin-top: -2%;
  }
  .chat2 {
    padding-top: 5%;
  }
  .chatss {
    background-color: #2eb12e;
    color: rgb(27, 25, 25);
    border-radius: 50%;
    transform: scale(0.8);
    margin-top: 2%;
  }
  .name-time {
    width: 75%;
    justify-content: space-between;
  }
  .name {
    font-size: 17px;
    margin-left: 1%;
  }
  .msg {
    color: rgb(183, 172, 172);
    font-size: 14px;
  }
}
